.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.middle{
    position:absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    margin: auto; 
}

.alert {
	font-size : 20px;
}

[class*="icon-"] {
	background-size: contain;
  	display: inline-block;
  	height: 40px;
  	width: 40px;
  	padding: 0px;
  	vertical-align: middle;
}

.icon-book {
	background-image : url(emojis/book.png);
}

.icon-books {
	background-image : url(emojis/books.png);
}

.icon-microphone {
	background-image : url(emojis/microphone.png);
}

.icon-penguin {
	background-image : url(emojis/penguin.png);
}

.icon-scroll {
	background-image : url(emojis/scroll.png);
}