.container {
	min-width: 100%;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.span {
	font-size: 3em;
}

.alert {
	font-size: 2em;
}

.btn div {
	font-size: 4em;
}

.bio-pic {
	max-width: 100%;
	max-height: 450px;
	border-radius: 50%;
	position: relative;
	text-align: center;
}

[class*="icon-"] {
	background-size: contain;
  	display: inline-block;
  	height: 4em;
  	width: 4em;
  	padding: 0px;
  	vertical-align: middle;
  	background-repeat: no-repeat;
}

.icon-cal {
	background-image : url(emojis/cal.png);
}

.icon-med {
	background-image : url(emojis/med.png);
}

.icon-time {
	background-image: url(emojis/time.png);
}

.icon-amazon {
	background-image : url(emojis/amazon.png);
}

.icon-brill {
	background-image : url(emojis/brill.png);
}

.icon-brite {
	background-image : url(emojis/brite.png);
}

.icon-smile {
	background-image : url(emojis/smile.png);
}

.icon-uchicago {
	background-image: url(emojis/uchicago.png);
}

.icon-book {
	background-image : url(emojis/book.png);
}

.icon-books {
	background-image : url(emojis/books.png);
}

.icon-microphone {
	background-image : url(emojis/microphone.png);
}

.icon-penguin {
	background-image : url(emojis/penguin.png);
}

.icon-scroll {
	background-image : url(emojis/scroll.png);
}

.icon-stars {
	background-image: url(emojis/stars.png);
}

.card-title {
	font-size: 2em;
}

.card-text {
	font-size: 1.5em;
}

.book-image {
	width: 400px;

}

.btn {
	margin-left: 0.2em !important;
	margin-right: 0.2em !important;
	margin-bottom: 1em !important;
}